:root{
  --white-color: rgba(255, 255, 255, 0.87);
  --darkgrey-color: rgb(61, 61, 61);
  --lightgrey-color: rgb(93, 93, 93);
}

#root {
  box-sizing: border-box;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-grow: 1;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

